---
all:
  children:
    clickhouse:
      hosts:
        clickhouse:
          ansible_host: {{ clickhouse_ip }}
          ansible_user: centos
    vector:
      hosts:
        vector:
          ansible_host: {{ vector_ip }}
          ansible_user: centos
    lighthouse:
      hosts:
        lighthouse:
          ansible_host: {{ lighthouse_ip }}
          ansible_user: centos